/*
 * Standard operating procedure. Boys with toys.
 * ~ James Bond
 */
/*
 *Color	Hex	RGB
 *#ffadfc	(255,173,252)
 *#f97cf3	(249,124,243)
 *#feff77	(254,255,119)
 *#57bdfb	(87,189,251)
 *#7bcdff	(123,205,255)
http://www.color-hex.com/color-palette/27447
http://www.color-hex.com/color-palette/27361
 */
body {
  background-color: black;
  color: #ffdb00;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 100%;
  position: relative;
}
nav {
  background-color: #fff96a;
  border-left: solid #fdfa56 4px;
  border-radius: 5px; 
}
nav a{
  color: #ff5739;
  text-decoration: none;
}
nav a:visited {
  color: #ff5739;
}
section {
  float:left;
  width: 33%;
  text-align: center;
  height: 50%;
  max-height: 50%;
  min-height: 50%;
  overflow-y: auto;
}
footer {
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
}
section header{
  border-left: solid #ff9223 4px;
  border-radius: 5px;
  background-color: #ff5739;
}
#working_on, #completed, #resources{
  background-color: rgba(63,63,63,0.5); 
    /*#3f3f3f*/;
  border-radius: 5px;
  padding: 0em;
  border: 0em;
  height: 50%;
  max-height: 50%;
  min-height: 50%;
}
#working_on a,#completed a,#resources a{
  color: #ff9223;
}
canvas {
  width : 100%;
  height: 10px;
}
h3 {
  margin-top: 0em;
}
#banner {
    max-height: 23%;
    border-radius: 5px;
    width: 100%;
}
#langs{
    z-index: -1;
}