/*
 *Color	Hex	RGB
 *#ffadfc	(255,173,252)
 *#f97cf3	(249,124,243)
 *#feff77	(254,255,119)
 *#57bdfb	(87,189,251)
 *#7bcdff	(123,205,255)
http://www.color-hex.com/color-palette/27447
http://www.color-hex.com/color-palette/27361
 */
body {
  background-color: #7bcdff;
  color: #feff77
}
nav {
  background-color: #57bdfb;
  border-left: solid #fdfa56 4px;
  border-radius: 5px; 
}
nav a{
  color: #ffdb00;
  text-decoration: none;
}
nav a:visited {
  color: #ffdb00;
}
section {
  float:left;
  width: 33%;
}
footer {
  float: clear;
}
